<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="Responsive Admin Template">
        <meta name="author" content="SmartUniversity">
        <title>WA Dashboard</title>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
        {% load static %}
        <!-- icons -->
        <link href="{% static 'fonts/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fonts/material-design-icons/material-icon.css' %}" rel="stylesheet" type="text/css">
        <!--bootstrap -->
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/material/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/material_style.css' %}">
        <!-- Theme Styles -->
        <link href="{% static 'assets/css/theme/light/theme_style.css' %}" rel="stylesheet" id="rt_style_components" type="text/css">
        <link href="{% static 'assets/css/theme/light/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/plugins.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/theme/light/theme-color.css' %}" rel="stylesheet" type="text/css">
        <!-- favicon -->
        <!-- <a href="https://www.flaticon.com/free-icons/whatsapp" title="whatsapp icons">Whatsapp icons created by Freepik - Flaticon</a> -->
        <link rel="shortcut icon" href="{% static 'assets/img/whatsapp.png' %}">
        <!-- jquery  -->
        <link> 
    </head>
<body>
    <!-- start js include path -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" ></script>
    <script src="{% static 'assets/plugins/popper/popper.js' %}" ></script>
    <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.min.js' %}" ></script>
    <script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" ></script>
    <!-- Common js-->
	<script src="{% static 'assets/js/app.js' %}" ></script>
    <script src="{% static 'assets/js/layout.js' %}" ></script>
	<script src="{% static 'assets/js/theme-color.js' %}" ></script>
	<!-- Material -->
	<script src="{% static 'assets/plugins/material/material.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/material-select/getmdl-select.js' %}" ></script>
    <script  src="{% static 'assets/plugins/material-datetimepicker/moment-with-locales.min.js' %}"></script>
	<script  src="{% static 'assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js' %}"></script>
	<script  src="{% static 'assets/plugins/material-datetimepicker/datetimepicker.js' %}"></script>
    <!-- dropzone -->
    <script src="{% static 'assets/plugins/dropzone/dropzone.js' %}" ></script>
    <script src="{% static 'assets/plugins/dropzone/dropzone-call.js' %}" ></script>
    <!-- end js include path -->
    <div class="jaymin" style="max-width: 99vw; padding: 1.5rem;">
    {% block content %}{% endblock  %}
</div>
</body>
</html>