{% extends 'base.html' %}
{% block content %}

    <div class="page-content" style="min-height:1579px">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Add Composer</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/dashboard">Home</a>&nbsp;<i
                            class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Add Composer</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Details </header>
                    </div>
                    <div class="card-body" id="bar-parent">
                        <form action="/process/" method="post" id="form_sample_1" class="form-horizontal"
                            novalidate="novalidate" enctype="multipart/form-data">
                            <div class="form-group row" style="display: none;">
                                <div class="col-md-5">
                                    <input class="form-control" type="Number" id="id" value={{id}} name="id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Receiver 
                                    </label>
                                <div class="col-md-5">
                                    <div class="form-check">
                                      <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="compType" id="single_receiver" value="single" >
                                        single
                                      </label>
                                    </div>
                                    <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="compType" id="multiple_receiver" value="multiple">
                                        Multiple
                                      </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Excel Data
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <!-- <inppload Excel File></inppload> -->
                                    <input class="form-control" type="file" id="formFile" name="myfile">
                                </div>
                            </div>
                            
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Mobile Number Column Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" id="col_Num" name="col_Num">
                                </div>
                                <div class="col-md-2">
                                    <label style="color: #aaa;">The column Alphabet that contains Phone Number i.e. A,B,C </label>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Mobile Number
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="tel" id="mobile" name="mobile">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="control-label col-md-3 checkbox checkbox-icon-black p-0">
                                    <label for="checkbox1">
                                        Add country code
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <input id="country_check" type="checkbox" name="country_check[]" value="yes">
                                    <input style="display: none;" type="checkbox" name="country_check[]" value="mandatory"checked>
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label class="control-label col-md-3">Select Code
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <select name="country_val" class="form-control input-height" id="country_val">
                                        <option value="">Select...</option>
                                        <option value="91">India (91)</option>
                                        {% for r in codes %}
                                        <option value="">{{r}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Composer
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5">
                                    <textarea name="Description" id="text-area" placeholder="Add Composer"
                                        class="form-control" rows="5"></textarea>
                                </div>
                                <div class="col-md-2">
                                    <label style="color: #aaa;">Place the column alphabet in place of respective variable Example: my name is {A} and your name is {B}. </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Whatsapp user
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                
                                <div class="col-md-5">
                                    <select name="provider" class="form-control input-height" id="provider">
                                        <option value="">Select...</option>
                                        {% for d in data %}
                                        <option value='{{d.phone_no}}'>{{ d.provider_name }} [{{d.phone_no}}]</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3">Template Name
                                    <span class="required" aria-required="true"> * </span>
                                </label>
                                <div class="col-md-5" style="display: flex;">
                                    <select name="template" class="form-control input-height" id="template">
                                        <option value="">Select...</option>
                                    </select>
                                
                                    &nbsp;
                                    <img src="../static/assets/img/refresh.png" id="refresh" alt="" width="16px" height="16px" style="margin-top: 15px;">
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="offset-md-3 col-md-9">
                                        <button id='prw' type="button" class="btn btn-info">Preview</button>
                                        <button type="submit" class="btn btn-danger">Process</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <label style="color: #aaa; font-size: 1rem;">Note: Mobile number should be with countrycode e.g. 91XXXXXXXXXX, 1XXXXXXXXXX</label>
                        </div>
                    </div>
                    
                     
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="status" style="display: flex;">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        let check;
        $('.form-check-label').on("change", function () {
            console.log($("#form_sample_1").children(".form-group"))
            var value = $(this).children('input').val();
            var excel = $("#form_sample_1").children(".form-group")[2];
            var colname = $("#form_sample_1").children(".form-group")[3];
            var mobnum = $("#form_sample_1").children(".form-group")[4];

            if (value == "single") {
                excel.style.display = "none";
                colname.style.display = "none";
                mobnum.style.display = "";
                check = "single";
            }
            else if (value == "multiple") {
                excel.style.display = "";
                colname.style.display = "";
                mobnum.style.display = "none";
                check = "multiple";
            }
        });

        $('#refresh').on("click", function(){
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: "/refresh_temp/",
                type: 'GET',
                success: function(res) {
                    console.log(res)
                    }
            })
        });
        
        $("#provider").on("change", function(){
            var p_name = $("#provider option:selected").val();
            p_name = p_name.trim()
            let url = "/fetch_Temp?phone="+p_name;
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: url,
                type: 'GET',
                success: function(res) {
                    $.each(res["data"], function(k, v){
                        $("#template").append(`<option value='${v[0]}-${v[1]}'>${v[0]} 
                            [${v[1]}]</option>`);
                    })
                }
            });
            console.log(p_name);
        });
        $('#country_check').on('click', function(){
            var select_ele = $("#form_sample_1").children(".form-group")[6];
            
            if ($('#country_check').is(':checked')) {
                $('#country_check').attr('value', "yes");
                select_ele.style.display = "";
                console.log($('#country_check').val());
            }
            else{
                $('#country_check').attr('value', "no");
                select_ele.style.display = "none";
                console.log($('#country_check').val());
            }
        });

        // $('#api-provider').on("change", function(){
        //     var value = $(this).val();
        //     var lang = $("#form_sample_1").children(".form-group")[7];
        //     var gender = $("#form_sample_1").children(".form-group")[8];
        //     var rate = $("#form_sample_1").children(".form-group")[9];
            
        //     if (value == "Google"){
        //         gender.style.display="none";
        //         rate.style.display="none";
        //         lang.style.display="";
        //     }
        //     else if (value == "Python"){
        //         lang.style.display="none";
        //         gender.style.display="";
        //         rate.style.display="";
        //     }
        // });

        $('#prw').on("click", function () {
            var fileSelect = document.getElementById('formFile');
            var file = fileSelect.files[0];
            var data = new FormData();
            data.append("myfile", file);
            data.append("compType", check);
            data.append("Description", $('#text-area').val());
            data.append("mobile", $('#mobile').val());
            data.append("id", $('#id').val());
            data.append("col_Num", $('#col_Num').val());
            data.append("template", $('#template').val());
            data.append("country_val", $('#country_val').val());
            data.append("provider", $('#provider').val());
            data.append("country_check[]", [$('#country_check').val()]);

            $.ajax({
                type: 'POST',
                url: "/preview/",
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                data: data,
                success: function(res) {
                    res = JSON.parse(res);
                    $('#status img').remove();
                    $('#status p').remove();
                    $('#status').append(`<img src="${res['img']}" width="10%" alt=""><p>${res['text']}</p>`);
                    $("#exampleModalCenter2").modal('show');
                }
            });
        });
    });
</script>
{% endblock %}