{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 25px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider-my {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(50, 199, 62);
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider-my:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider-my {
      background-color: #2196F3;
    }
    
    input:focus + .slider-my {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider-my:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    
    /* Rounded sliders */
    .slider-my.round {
      border-radius: 34px;
    }
    
    .slider-my.round:before {
      border-radius: 50%;
    }
    </style>
<div class="page-content" style="min-height:1539px; width:1450px; margin-left: auto; margin-right: auto;">
    <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">{{ Campaign }}</div>
            </div>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="">&times;close</span>
      <i class="fa fa-close"></i>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
{% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="card-box">
                <div class="card-head">
                    <header>Campaign List || Status {{CampStat}}</header>
                </div>

                <div class="card-body ">
                    <div class="table-scrollable">
                        <div id="example4_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-sm-12 col-md-3"> 
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-danger" id="strtal">
                                                Start
                                           </a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="/stop?type=advance" id="stp" class="btn btn-warning">
                                                Stop
                                            </a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="" id="" class="btn btn-success">
                                                Refresh
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="/export_excel/?table=Record" id="downloadBtn" class="btn btn-default">
                                                Download Record
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button type="button" id="dltBtn" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="/deleteAll?name=advRec" class="btn btn-warning">
                                                Delete All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="/pendingAll/?name=advance" class="btn btn-primary">
                                                    Pending All
                                            </a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-left: 5px;">
                                Template &nbsp;
                                <label class="switch">
                                    <input type="checkbox" name="mode" id="mode" value="text">
                                    <span class="slider-my round" ></span>
                                </label> &nbsp;
                                Message
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table
                                        class="table table-striped table-bordered table-hover table-checkable order-column valign-middle dataTable no-footer"
                                        id="example4" role="grid" aria-describedby="example4_info">
                                        <thead>
                                            <tr role="row" style="text-align:center">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example4"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="#: activate to sort column descending"
                                                    style="width: 63.6px;"></th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Mobile</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Template</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Sender</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Text</th>

                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;"></th>
                                                <!-- <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Whatsapp request</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Whatsapp response</th> -->
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Status</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Whatsapp Status</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in record %}
                                            <tr style="text-align:center" class="odd" role="row">
                                                <td class="sorting_1"><input type="checkbox" name="{{ c.id }}" id=""></td>
                                                <td class="sorting_1">{{ c.mobile }}</td>
                                                <td class="sorting_1">{{ c.template }}</td>
                                                <td class="sorting_1">{{ c.sender_name }}</td>
                                                <td class="sorting_1">{{ c.text }}</td>
                                                <td><a href="#"> <button name="{{ c.id }}" type="button" class="btn btn-round btn-primary strt"> Send Whatsapp </button></a><p></p></td>
                                                <!-- <td><button type="button" class="btn btn-round btn-warning txt-toggle"> Show </button><p id="text" class="hide-text" style="display: none;">{{ c.voiceshoot_req }}<p></td> -->
                                                <td class="sorting_1"> {{ c.status }}</td>
                                                <td class="sorting_1"> <img src='../static/assets/img/{{c.what_status}}.png' width="20%" height="20%" alt=""> </td>
                                                
                                                <td><button type="button" class="btn btn-round btn-success txt-toggle" data-toggle="modal" data-target="#exampleModalCenter2"> Show </button><p id="req" class="hide-text" style="display: none;">{{ c.voiceshoot_req }}</p><p id="res" class="hide-text" style="display: none;">{{ c.voiceshoot_res }}<p></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal data-toggle="modal" data-target="#exampleModalCenter"-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Set all Templates</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/setAllTemp/" method="post" id="form_sample_modal" class="form-horizontal"
                            novalidate="novalidate" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="control-label col-md-3">Whatsapp user
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    
                    <div class="col-md-5">
                        <select name="provider" class="form-control input-height" id="provider">
                            <option value="">Select...</option>
                            {% for d in providers %}
                            <option value='{{d.phone_no}}'>{{ d.provider_name }} [{{d.phone_no}}]</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Template Name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <select name="template" class="form-control input-height" id="template">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="Shoot" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 700px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="req-show"><h4><strong>Request</strong></h4><p id="req-txt"></p></div>
            <div id="res-show"><h4><b>Response</b></h4><p id="res-txt"></p></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        </div>
        </div>
    </div>
    </div>
  
<script>
    $(document).ready(function () {

        $("#strtal").on("click", function(){
            let mode = $('input[name="mode"]:checked').val();
            if (!mode){
                mode = 'temp';
            }
            console.log(mode)
            let url = '/start_all?mode='+mode+'&type=advance';
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: url,
                type: 'GET',
                success: function(res) {
                    $('#status img').remove();
                    $('#status p').remove();
                    $('#status').append(`<p style="width: 400px;">Campaign Started</p>`);
                    $("#exampleModalCenter2").modal('show');
                }
            });
        });

        $('input[name="mode"]').on("click", function(){
            let mode = $(this).val();
            console.log(mode)
            if (mode){
                $("#strtal").attr("href", `/start_all?mode=${mode}&type=advance`)
            }
            else{
                $("#strtal").attr("href", `/start_all?mode=temp&type=advance`)
            }
        });
        
        let text;
        $(".strt").on("click", function(){
            text = $(this).attr('name');
            let mode = $('input[name="mode"]:checked').val();
            if (!mode){
                mode = 'temp';
            }
            url = "/advanceStart?id=" + text+"&mode="+mode;
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: url,
                type: 'GET',
                success: function(res) {
                    console.log(res)
                    $('#status img').remove();
                    $('#status p').remove();
                    $('#res-txt').append(res['text']);
                    {% comment %} $('#status').append(`<img src="${res['img']}" width="10%" alt=""><p style="width: 400px;">${res['text']}</p>`); {% endcomment %}
                    $("#exampleModalCenter2").modal('show');
                }
            });
        });

        $("#provider").on("change", function(){
            var p_name = $("#provider option:selected").val();
            p_name = p_name.trim()
            let url = "/fetch_Temp?phone="+p_name;
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: url,
                type: 'GET',
                success: function(res) {
                    $.each(res["data"], function(k, v){
                        $("#template").append(`<option value='${v[0]}-${v[1]}'>${v[0]} 
                            [${v[1]}]</option>`);
                    })
                }
            });
            console.log(p_name);
        });

        $("#Shoot").on("click", function(){
            $.ajax({
                type: 'POST',
                url: "/setAllTemp/",
                dataType : 'json',
                data: $("#form_sample_modal").serialize(),
                success: function(res) {
                    window.location.reload();
                }
            });
        });

        $(".txt-toggle").on("click", function(){ 
            var q = $(this).siblings("#req");
            var s = $(this).siblings("#res");
        
            if (q.hasClass("hide-text")){
                $("#req-txt").text(q.text());
                $("#res-txt").text(s.text());
            }
        })
        $('#dltBtn').on('click', function () {
            if (confirm("Your devices and data will be removed Permenantly. \n You want to go ahead ?") == true) {
                var selected = [];
                $('#example4 tbody tr').each(function () {
                    var t = $(this).children("td").children("input");
                    if (t.is(":checked")) {
                        selected.push(t.attr('name'));
                    }
                });
                var json = { name: "advanceRec", data: selected }
                console.log(json);
                $.ajax({
                    type: 'POST',
                    url: "/deleteRec/",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (result) {
                        window.location.reload();
                    },
                })
            }
        });

    });
</script>
{% endblock %}