<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="Responsive Admin Template">
        <meta name="author" content="SmartUniversity">
        <title>WA Dashboard</title>
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
        {% load static %}
        <!-- icons -->
        <link href="{% static 'fonts/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fonts/material-design-icons/material-icon.css' %}" rel="stylesheet" type="text/css">
        <!--bootstrap -->
        <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/material/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/material_style.css' %}">
        <!-- Theme Styles -->
        <link href="{% static 'assets/css/theme/light/theme_style.css' %}" rel="stylesheet" id="rt_style_components" type="text/css">
        <link href="{% static 'assets/css/theme/light/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/plugins.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'assets/css/theme/light/theme-color.css' %}" rel="stylesheet" type="text/css">
        <!-- favicon -->
        <!-- <a href="https://www.flaticon.com/free-icons/whatsapp" title="whatsapp icons">Whatsapp icons created by Freepik - Flaticon</a> -->
        <link rel="shortcut icon" href="{% static 'assets/img/whatsapp.png' %}">
        <!-- jquery  -->
        <link> 
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% comment %} <a class="navbar-brand" href="#">{{u_name}}</a> {% endcomment %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Campaigns</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="/settings"><i class="fa fa-cog"></i> Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showMessages"><i class="fa fa-envelope"></i> Inbox</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outbox
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/sms_outBox"><i class="fa fa-envelope"></i>SMS Outbox</a>
                <a class="dropdown-item" href="/outBox"><i class="fa fa-whatsapp"></i>Whatsapp Outbox</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/generateToken"><i class="fa fa-link"></i> Generate Token</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manageTemplate"><i class="fa fa-list"></i> Manage Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customerStat"><i class="fa fa-comment"></i> Conversations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/botSettings"><i class="fa fa-android"></i> Bot Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createTemp">Dynamic Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/missmatched">Missed Message</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="/what_gui"><i class="fa fa-forum"></i> Chat window</a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-item">
              <a class="nav-link" href=""> </a>
            </li> {% endcomment %}
            {% comment %} <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/generateToken"><i class="fa fa-link"></i>Generate Token</a>
                <a class="dropdown-item" href="/manageTemplate"><i class="fa fa-list"></i> Manage Templates</a>
                <a class="dropdown-item" href="/customerStat">Conversations</a>
              </div>
            </li> {% endcomment %}
          </ul>
        </div>
        <div class="btn-group pull-right">
            <a href="/logout" id="" class="btn btn-light">
                Logout
            </a>
        </div>
      </nav>
    <!-- start js include path -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}" ></script>
    <script src="{% static 'assets/plugins/popper/popper.js' %}" ></script>
    <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.min.js' %}" ></script>
    <script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" ></script>
    <!-- Common js-->
	<script src="{% static 'assets/js/app.js' %}" ></script>
    <script src="{% static 'assets/js/layout.js' %}" ></script>
	<script src="{% static 'assets/js/theme-color.js' %}" ></script>
	<!-- Material -->
	<script src="{% static 'assets/plugins/material/material.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/material-select/getmdl-select.js' %}" ></script>
    <script  src="{% static 'assets/plugins/material-datetimepicker/moment-with-locales.min.js' %}"></script>
	<script  src="{% static 'assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js' %}"></script>
	<script  src="{% static 'assets/plugins/material-datetimepicker/datetimepicker.js' %}"></script>
    <!-- dropzone -->
    <script src="{% static 'assets/plugins/dropzone/dropzone.js' %}" ></script>
    <script src="{% static 'assets/plugins/dropzone/dropzone-call.js' %}" ></script>
    <!-- end js include path -->
    <div class="jaymin" style="max-width: 99vw; padding: 1.5rem;">
    {% block content %}{% endblock  %}
</div>
</body>
</html>