{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-content" style="min-height:1539px; width:1450px; margin-left: auto; margin-right: auto;">
    {% comment %} <div class="page-bar">
        <div class="page-title-breadcrumb">
            <div class=" pull-left">
                <div class="page-title">{{ Campaign }}</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="/dashboard">Home</a>&nbsp;<i
                        class="fa fa-angle-right"></i>
                </li>
                <li class="active">Outbox</li>
            </ol>
        </div>
    </div> {% endcomment %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div class="card-box">
                <div class="card-head">
                    <header>Outbox</header>
                    
                    <button id="sdntmenu" class="mdl-button mdl-js-button mdl-button--icon pull-right"
                        data-upgraded=",MaterialButton">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <div class="mdl-menu__container is-upgraded">
                        <div class="mdl-menu__outline mdl-menu--bottom-right"></div>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events"
                            data-mdl-for="sdntmenu" data-upgraded=",MaterialMenu,MaterialRipple">
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                data-upgraded=",MaterialRipple"><i class="material-icons">assistant_photo</i>Action<span
                                    class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                data-upgraded=",MaterialRipple"><i class="material-icons">print</i>Another action<span
                                    class="mdl-menu__item-ripple-container"><span class="mdl-ripple"></span></span></li>
                            <li class="mdl-menu__item mdl-js-ripple-effect" tabindex="-1"
                                data-upgraded=",MaterialRipple"><i class="material-icons">favorite</i>Something else
                                here<span class="mdl-menu__item-ripple-container"><span
                                        class="mdl-ripple"></span></span></li>
                        </ul>
                    </div>
                </div>

                <div class="card-body ">
                    <div class="table-scrollable">
                        <div id="example4_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <form class="mb-15" id="advance-srch">
                                <div class="row mb-6">
                                    <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Message:</label>
                                        <input type="text" class="form-control datatable-input" data-col-index="0" name="message">
                                    </div>
                                    <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Sender:</label>
                                        <input type="text" class="form-control datatable-input" data-col-index="1" name="sender">
                                    </div>
                                    <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Status:</label>
                                        <select class="form-control datatable-input" data-col-index="6" name="status">
                                            <option value="">Select</option>
                                        <option value="Sent">Sent</option><option value="read">Read</option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Agent:</label>
                                        <input type="text" class="form-control datatable-input" placeholder="Agent ID or name" data-col-index="4">
                                    </div> -->
                                </div>
                                <div class="row mb-8">
                                    <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label></label>
                                        <div class="input-daterange input-group" id="kt_datepicker">
                                            <input type="date" class="form-control datatable-input" name="start" placeholder="From" data-col-index="5" id="from-date">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-ellipsis-h"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control datatable-input" name="end" placeholder="To" data-col-index="5" id="to-date">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Status:</label>
                                        <select class="form-control datatable-input" data-col-index="6" name="status">
                                            <option value="">Select</option>
                                        <option value="Sent">Sent</option><option value="read">Read</option>
                                        </select>
                                    </div> -->
                                    <!-- <div class="col-lg-3 mb-lg-0 mb-6">
                                        <label>Type:</label>
                                        <select class="form-control datatable-input" data-col-index="7">
                                            <option value="">Select</option>
                                        <option value="1">Online</option><option value="2">Retail</option><option value="3">Direct</option></select>
                                    </div> -->
                                </div>
                                <br>
                                <div class="row mt-8">
                                    <div class="col-lg-12">
                                    <button class="btn btn-primary btn-primary--icon" id="kt_search" type="button">
                                        <span>
                                            <i class="la la-search"></i>
                                            <span>Search</span>
                                        </span>
                                    </button>&nbsp;&nbsp; 
                                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                                        <span>
                                            <i class="la la-close"></i>
                                            <span>Reset</span>
                                        </span>
                                    </button></div>
                                </div>
                            </form>
                            <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
                                <div class="col-sm-12 col-md-3">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="#" id="download-record" class="btn btn-default">
                                                Download Selected
                                            </a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <a href="#" id="downloadBtn" class="btn btn-default">
                                                Download All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="btn-group">
                                        <div class="btn-group">
                                            <button type="button" id="dltBtn" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div class="btn-group" id="deleteAll">
                                            <a href="#" class="btn btn-warning">
                                                Delete All
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table
                                        class="table table-striped table-bordered table-hover table-checkable order-column valign-middle dataTable no-footer"
                                        id="example4" role="grid" aria-describedby="example4_info">
                                        <thead>
                                            <tr role="row" style="text-align:center">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example4"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="#: activate to sort column descending"
                                                    style="width: 63.6px;"><input type="checkbox" onclick="toggle(this)" ></th>
                                                    <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">To</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Message</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Send Time</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Status</th>
                                                <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1"
                                                    colspan="1" aria-label="Title: activate to sort column ascending"
                                                    style="width: 180.863px;">Log</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in messages %}
                                            <tr style="text-align:center" class="odd" role="row">
                                                <td class="sorting_1"><input type="checkbox" name="row-check" id="{{ c.id }}"></td>
                                                <td class="sorting_1">{{ c.to_number }}</td>
                                                <td class="sorting_1">{{ c.message }}</td>
                                                <td class="sorting_1">{{ c.send_time }}</td>
                                                <td class="sorting_1"> <img src='../static/assets/img/{{c.status}}.png' width="20%" height="20%" alt=""> </td>
                                                    <!-- /startCamp?id={{ c.id }} <i class="fa fa-check"></i>-->
                                                <td><button type="button" onclick="addReqRes(this)" class="btn btn-round btn-warning txt-toggle" data-toggle="modal" data-target="#exampleModalCenter2"> Show </button><p id="req" class="hide-text" style="display: none;">{{ c.request }}<p><p id="res" class="hide-text" style="display: none;">{{ c.response }}<p></p></td>
                                                    
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal data-toggle="modal" data-target="#exampleModalCenter"-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Set all Templates</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/setAllTemp/" method="post" id="form_sample_modal" class="form-horizontal"
                            novalidate="novalidate" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group row">
                    <label class="control-label col-md-3">Whatsapp user
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    
                    <div class="col-md-5">
                        <select name="provider" class="form-control input-height" id="provider">
                            <option value="">Select...</option>
                            {% for d in providers %}
                            <option value='{{d.phone_no}}'>{{ d.provider_name }} [{{d.phone_no}}]</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3">Template Name
                        <span class="required" aria-required="true"> * </span>
                    </label>
                    <div class="col-md-5">
                        <select name="template" class="form-control input-height" id="template">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="Shoot" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 700px;">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="req-show"><h4><strong>Request</strong></h4><p id="req-txt"></p></div>
        <div id="res-show"><h4><b>Response</b></h4><p id="res-txt"></p></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
    </div>
    </div>
</div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>
<script type="text/javascript" src=" {% static 'DataTables/datatables.min.js' %}"></script>

<script>
    function addReqRes(t){ 
        var q = $(t).siblings("#req");
        var s = $(t).siblings("#res");
    
        if (q.hasClass("hide-text")){
            $("#req-txt").text(q.text());
            $("#res-txt").text(s.text());
        }
    }
    function toggle(source) {
        checkboxes = document.getElementsByName('row-check');
        for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
        }
        }
    $(document).ready(function () {
        $('#example4').DataTable();
        $("#deleteAll").on("click", function(){
            if (confirm("Your devices and data will be removed Permenantly. \n You want to go ahead ?") == true) {
                $.ajax({
                    "async": true,
                    "crossDomain": true,
                    url: "/deleteAll?name=sms_outbox",
                    type: 'GET',
                    success: function(res) {
                        console.log(res);
                    }
                });
            }
        })
        
        $("#from-date").on("change", function(){
            var _href = $("#downloadBtn").attr("href");
            $("#downloadBtn").attr("href", _href + "&from="+$(this).val())
        });
        $("#to-date").on("change", function(){
            var _href = $("#downloadBtn").attr("href");
            $("#downloadBtn").attr("href", _href + "&to="+$(this).val())
        });
        $('#kt_search').on("click", function(){
            $.ajax({
                url: "/searchTable/?name=sms_outbox",
                type: "POST",
                data: $("#advance-srch").serialize(),
                success: function(response){
                    $('tbody').remove();
                    $('#example4').append('<tbody></tbody>');
                    console.log(response)
                    jQuery.each(response, function(i, c){
                        $('tbody').append(`<tr style="text-align:center" class="odd" role="row">
                                                <td class="sorting_1"><input type="checkbox" name="row-check" id="${ i }"></td>
                                                <td class="sorting_1"><p>${ c.To }<p></td>
                                                <td class="sorting_1">${ c.message }</td>
                                                
                                                <td class="sorting_1">${ c.send_time }</td>
                                                <td class="sorting_1">${ c.Sender }</td>
                                                <td class="sorting_1"> <img src='../static/assets/img/${c.status}.png' width="20%" height="20%" alt=""> </td>
                                                    <td><button type="button" onclick="addReqRes(this)" class="btn btn-round btn-warning txt-toggle" data-toggle="modal" data-target="#exampleModalCenter2"> Show </button><p id="req" class="hide-text" style="display: none;">${ c.req }<p><p id="res" class="hide-text" style="display: none;">${ c.res }<p></p></td>    
                                            </tr>`)
                    });
                    
                }
            });
        });
        $('#dltBtn').on('click', function () {
            if (confirm("Your devices and data will be removed Permenantly. \n You want to go ahead ?") == true) {
                var selected = [];
                $('#example4 tbody tr').each(function () {
                    var t = $(this).children("td").children("input");
                    if (t.is(":checked")) {
                        selected.push(t.attr('id'));
                    }
                });
                var json = { name: "sms_outbox", data: selected }
                console.log(json);

                $.ajax({
                    type: 'POST',
                    url: "/deleteRec/",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (result) {
                        window.location.reload();
                    },
                })
            }
        });
        $("#downloadBtn").on("click", function(){
            var selected = [];
            checkboxes = $('[name="row-check"]').map(function(idx, elem) {return $(elem).attr('id');}).get();;
            for(var i=0, n=checkboxes.length;i<n;i++) {
                selected.push(checkboxes[i]);
            }
            var json = { name: "sms_outbox", data: selected }
            $.ajax({
                    type: 'POST',
                    url: "/export_selected_excel",
                    headers: {'X-CSRFToken': csrftoken},
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: (data) =>{
                        window.location.replace(data['url'])
                    },
                    error:(data) =>{
                        console.log(error)
                    }                
                })
        })
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $('#download-record').on('click', function () {
            var selected = [];
            $('#example4 tbody tr').each(function () {
                var t = $(this).children("td").children("input");
                if (t.is(":checked")) {
                    selected.push(t.attr('id'));
                }
            });
            var json = { name: "sms_outbox", data: selected }
            $.ajax({
                    type: 'POST',
                    url: "/export_selected_excel",
                    headers: {'X-CSRFToken': csrftoken},
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: (data) =>{
                        window.location.replace(data['url'])
                    },
                    error:(data) =>{
                        console.log(error)
                    }                
                })
        });

    });
</script>
{% endblock %}